.socials {
  display: flex;
  opacity: 0.5;
  justify-content: center;
  padding: 28px 0 9.5px;
}

.sprite {
  width: 23px;
  height: 18px;
  margin: 0 15px;
  display: inline-block;
  background-image: url(../../assets/images/icons/css_sprites_mobile.png);
}

.sprite--fb {
  background-position: -53px -10px;
}

.sprite--pinterest {
  background-position: -10px -48px;
}

.sprite--twitter {
  background-position: -10px -10px;
}

@media screen and (min-width: 768px) {
  .socials {
    padding: 20px 0 0;
    grid-column: 2;
    grid-row: 1;
    justify-content: end;
  }

  .sprite {
    margin: 0 0 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .socials {
    padding: 25px 0 15px;
  }

  .sprite {
    width: 44px;
    height: 35px;
    background-image: url(../../assets/images/icons/css_sprites.png);
  }

  .sprite--fb {
    background-position: -80px -10px;
  }

  .sprite--pinterest {
    background-position: -10px -75px;
  }
}