.results__heading {
  padding-top: 65px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .result__circle {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .result__circle {
    justify-content: space-around;
  }
}