.card__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .card__list {
    justify-content: space-evenly;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .card__list {
    padding: 0 auto;
    justify-content: space-between;
  }
}