.card__number {
  margin-top: 5px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.card__unit {
  display: flex;
  justify-content: center;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: "Montserrat";
  color: var(--color-heading);
}

.card__price {
  font-size: 36px;
  line-height: 35px;
  font-family: "Montserrat";
  color: var(--color-heading);
}

@media screen and (min-width: 768px) {
  .card__number {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .card__number {
    margin-top: 35px;
  }

  .card__unit {
    align-items: center;
    font-size: 24px;
  }

  .card__price {
    font-size: 64px;
    line-height: 65px;
  }
}