@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

.container {
  max-width: 290px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
} 

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}